.carouselbanner {
    height: 85vh;
    min-height: 400px
  }
  /* .progress {
    height: 2px;
    z-index: 999;
  }
  .progress > div {
    position: absolute;
    background-color:var(--theme-color);
    height: 100%;
    width: 0;
  } */
  .progress .activeprogress {
    width: 100%;
    transition: linear
  }
